<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Here are your users for AppTwo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Please Sign Up here!</h1>
        <form method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <input type='submit' class='btn btn-primary' value="submit">
        </form>
    </div>
</body>
</html>
